.login-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.btn-sign-in {
    background-color: var(--clr-primary);
    color: var(--clr-neutral-100);
}




